fastapi[standard]==0.95.2
uvicorn==0.23.1
psutil==5.9.4
langchain-core==0.0.145
langchain-community==0.0.145
langchain-text-splitters==0.0.145
langchain-huggingface==0.0.145
langchain-ollama==0.0.145
langchain-openai==0.0.145
langchain-groq==0.0.145
chromadb==0.3.21
faiss-cpu==1.7.3
openai==0.27.0
groq==0.1.0
transformers==4.28.0
torch==1.13.1
